.soundoptionsplaytp{
    background-image: url('../images/icon/voltp.png');
    background-repeat: no-repeat;
}

.soundoptionspausetp{
    background-image: url('../images/icon/volmutetp.png');
    background-repeat: no-repeat;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .soundoptions {
        bottom: 27px;
    }
}