body{
	background-image: url('../images/platesid/picnic.png');
	/*background-size: cover;*/
    overflow: hidden;
}

a{
	text-decoration: none;
}

#plate1{
	width: 759px;
    height: 488px;
    position: fixed;
    left: 350px;
    top: 150px;
    background-image: url('../images/platesid/plate1.png');
    background-size: contain;
}

#effectscoverbg{
    display: block;
}

#introeffectspopup{
    display: block;
}


#demo1,#demo2{
    width: 100%;
    height: 100%;
}

#demo2con{
    display: none;
}
#demo2{
    display: none;
}

#demo2text{
    display: none;
}

.fishfragment{
	position: fixed;
    left: 881px;
    top: 190px;
    width: 179px;
}

.fishfoam{
	position: fixed;
    left: 791px;
    top: 225px;
    top: 209px;
    width: 175px;
}

.fishmicrobeads{
	position: fixed;
    left: 702px;
    top: 194px;
    width: 160px;
}

.fishfilaments{
	position: fixed;
    left: 588px;
    top: 227px;
    width: 160px;
    z-index: 10;
}

.fishfibre{
	position: fixed;
    left: 480px;
    top: 221px;
    width: 186px;
}

.fishfilm{
	position: fixed;
    left: 393px;
    top: 243px;
    width: 144px;
}

.fishopt1:hover{
	cursor: pointer;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.fishopt1big{
	width: 550px;
    height: 354px;
    position: fixed;
    left: 440px;
    top: 200px;
    display: none;
    z-index: 1000000;
    cursor: pointer;
}

.platefragment{
    background-image: url('../images/platesid/platefragment.png');
    background-size: contain;
}

.platefoam{
    background-image: url('../images/platesid/platefoam.png');
    background-size: contain;
}

.platemicrobeads{
    background-image: url('../images/platesid/platemicrobeads.png');
    background-size: contain;
}

.platefilaments{
    background-image: url('../images/platesid/platefilaments.png');
    background-size: contain;
}

.platefibre{
    background-image: url('../images/platesid/platefibre.png');
    background-size: contain;
}

.platefilm{
    background-image: url('../images/platesid/platefilm.png');
    background-size: contain;
}

.fishopt1big:hover{
	cursor: pointer;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.eachfragment{
	position: fixed;
}

.plates{
	position: fixed;
}

.plates:hover{
	cursor: pointer;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

#fragmentchems{
	display: none;
	cursor: pointer;
}

#fragmentone{
	background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 1047px;
    top: 60px;
}

#fragmenttwo{
	background-image: url('../images/platesid/ldpe.png');
    background-size: cover;
    width: 225px;
    height: 163px;
    left: 579px;
    top: -33px;
}

#fragmentthree{
	background-image: url('../images/platesid/hdpe.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 175px;
    top: 405px;
}

#fragmentfour{
	background-image: url('../images/platesid/pvc.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 175px;
    top: 57px;
}

#fragmentfive{
	background-image: url('../images/platesid/pp.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 1073px;
    top: 405px;
}

#fragmentsix{
	background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 611px;
    top: 509px;
}

#foamchems{
	display: none;
	cursor: pointer;
}

.eachfoam{
	position: fixed;
}

#foamone{
	background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 179px;
    top: 238px;
}

#foamtwo{
	background-image: url('../images/platesid/ldpehdpepan.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 1050px;
    top: 238px;
}

#microbeadschems{
	display: none;
	cursor: pointer;
}

.eachmicrobeads{
	position: fixed;
}

#microbeadsone{
	background-image: url('../images/platesid/nylon.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 1047px;
    top: 60px;
}

#microbeadstwo{
	background-image: url('../images/platesid/ldpehdpemirror.png');
    background-size: cover;
    width: 225px;
    height: 163px;
    left: 579px;
    top: -33px;
}

#microbeadsthree{
	background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 175px;
    top: 405px;
}

#microbeadsfour{
	background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 175px;
    top: 57px;
}

#microbeadsfive{
	background-image: url('../images/platesid/pp.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 1073px;
    top: 405px;
}

#microbeadssix{
	background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 611px;
    top: 509px;
}

#filamentschems{
	display: none;
	cursor: pointer;
}

.eachfilaments{
	position: fixed;
}

#filamentsone{
	background-image: url('../images/platesid/pp.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 1073px;
    top: 405px;
}

#filamentstwo{
	background-image: url('../images/platesid/dyes.png');
    background-size: cover;
    width: 228px;
    height: 163px;
    left: 579px;
    top: -33px;
}

#filamentsthree{
	background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 175px;
    top: 405px;
}

#fibrechems{
	display: none;
	cursor: pointer;
}

.eachfibre{
	position: fixed;
}

#fibreone{
	background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 1073px;
    top: 203px;
}

#fibretwo{
	background-image: url('../images/platesid/dyes.png');
    background-size: cover;
    width: 228px;
    height: 163px;
    left: 579px;
    top: -45px;
}

#fibrethree{
	background-image: url('../images/platesid/metals.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 458px;
    top: 490px;

}

#fibrefour{
	background-image: url('../images/platesid/pfc.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 175px;
    top: 203px;
}

#fibrefive{
	background-image: url('../images/platesid/solvents.png');
    background-size: cover;
    width: 228px;
    height: 165px;
    left: 774px;
    top: 490px;
}

#filmchems{
	display: none;
	cursor: pointer;
}

.eachfilm{
	position: fixed;
}

#filmone{
	background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 1073px;
    top: 203px;
}

#filmtwo{
	background-image: url('../images/platesid/ldpe.png');
    background-size: cover;
    width: 228px;
    height: 166px;
    left: 579px;
    top: -45px;
}

#filmthree{
	background-image: url('../images/platesid/hdpe.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    left: 590px;
    top: 515px;
}

#filmfour{
	background-image: url('../images/platesid/pvc.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    left: 175px;
    top: 203px;
}

#fragmentonedum{
	background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    top: 245px;
	left: 593px;
}

#fragmentpet{
	position: fixed;
	display: none;
}

.nonplates{
	position: fixed;
}

#fragmentpetone{
	background-image: url('../images/platesid/pet1/pet1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 294px;
}

#fragmentpettwo{
	background-image: url('../images/platesid/pet1/pet2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 909px;
}

#fragmentpetthree{
	background-image: url('../images/platesid/pet1/pet3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 459px;
    left: 603px;
}

#fragmentpetfour{
	background-image: url('../images/platesid/pet1/pet4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#fragmentldpe{
	position: fixed;
	display: none;
}

#fragmentldpeone{
	background-image: url('../images/platesid/ldpe1/ldpe.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#fragmenttwodum{
	background-image: url('../images/platesid/ldpe.png');
    background-size: cover;
    width: 228px;
    height: 166px;
    top: 245px;
	left: 593px;
}

#fragmentpvc{
	position: fixed;
	display: none;
}

#fragmentpvcone{
	background-image: url('../images/platesid/pvc1/pvc1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 303px;
    left: 969px;
}

#fragmentpvctwo{
	background-image: url('../images/platesid/pvc1/pvc2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 118px;
    left: 969px;
}

#fragmentpvcthree{
	background-image: url('../images/platesid/pvc1/pvc3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 740px;
}

#fragmentpvcfour{
	background-image: url('../images/platesid/pvc1/pvc4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 533px;
}

#fragmentpvcfive{
	background-image: url('../images/platesid/pvc1/pvc5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 303px;
    left: 294px;
}

#fragmentpvcsix{
	background-image: url('../images/platesid/pvc1/pvc6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 118px;
    left: 290px;
}

#fragmentpvcseven{
	background-image: url('../images/platesid/pvc1/pvc7.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 533px;
}

#fragmentpvceight{
	background-image: url('../images/platesid/pvc1/pvc8.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 740px;
}

#fragmentthreedum{
	background-image: url('../images/platesid/pvc.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    top: 245px;
    left: 623px;
}

#fragmenthdpe{
	position: fixed;
	display: none;
}

#fragmenthdpeone{
	background-image: url('../images/platesid/hdpe1/hdpe1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 927px;
}

#fragmenthdpetwo{
	background-image: url('../images/platesid/hdpe1/hdpe2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 12px;
    left: 634px;
}

#fragmenthdpethree{
	background-image: url('../images/platesid/hdpe1/hdpe3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 934px;
}

#fragmenthdpefour{
	background-image: url('../images/platesid/hdpe1/hdpe4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 638px;
}

#fragmenthdpefive{
	background-image: url('../images/platesid/hdpe1/hdpe5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 315px;
}

#fragmenthdpesix{
	background-image: url('../images/platesid/hdpe1/hdpe6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 315px;
}

#fragmentfourdum{
	background-image: url('../images/platesid/hdpe.png');
    background-size: cover;
	width: 228px;
    height: 176px;
    top: 245px;
    left: 623px;
}

#fragmentsixdum{
	background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
	width: 200px;
    height: 200px;
    top: 245px;
    left: 605px;
}

#fragmentpolystyrene{
	position: fixed;
	display: none;
}

#fragmentpolystyreneone{
	background-image: url('../images/platesid/polystyrene1/polystyrene1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#fragmentfivedum{
	background-image: url('../images/platesid/pp.png');
    background-size: cover;
	width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#fragmentpp{
	position: fixed;
	display: none;
}

#fragmentppone{
	background-image: url('../images/platesid/pp1/pp1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 590px;
}

#fragmenthdpeldpe{
	position: fixed;
	display: none;
}

#fragmenthdpeldpeone{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 927px;
}

#fragmenthdpeldpetwo{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 12px;
    left: 634px;
}

#fragmenthdpeldpethree{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 934px;
}

#fragmenthdpeldpefour{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 638px;
}

#fragmenthdpeldpefive{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 298px;
}

#fragmenthdpeldpesix{
	background-image: url('../images/platesid/hdpeldpe1/hdpeldpe6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 298px;
}

#foamonedum{
    background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 605px;
}

#foampolystyrene{
    position: fixed;
    display: none;
}

#foampolystyreneone{
    background-image: url('../images/platesid/polystyrene1/polystyrene1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#foamtwodum{
    background-image: url('../images/platesid/ldpehdpepan.png');
    background-size: cover;
    width: 228px;
    height: 176px;
    top: 245px;
    left: 605px;
}

#foamhdpeldpe{
    position: fixed;
    display: none;
}

#foamhdpeldpeone{
    background-image: url('../images/platesid/hdpe1/hdpe1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#foamhdpeldpetwo{
    background-image: url('../images/platesid/hdpe1/hdpe2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 114px;
    left: 879px;
}


#foamhdpeldpethree{
    background-image: url('../images/platesid/hdpe1/hdpe3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 114px;
    left: 330px;
}


#foamhdpeldpefour{
    background-image: url('../images/platesid/hdpe1/hdpe4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 319px;
    left: 918px;
}


#foamhdpeldpefive{
    background-image: url('../images/platesid/hdpe1/hdpe5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 319px;
    left: 314px;
}

#foamhdpeldpesix{
    background-image: url('../images/platesid/hdpe1/hdpe6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 480px;
    left: 744px;
}

#foamhdpeldpeseven{
    background-image: url('../images/platesid/ldpe1/ldpe.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 480px;
    left: 507px;
}

#microbeadsfivedum{
    background-image: url('../images/platesid/pp.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#microbeadspp{
    position: fixed;
    display: none;
}

#microbeadsppone{
    background-image: url('../images/platesid/pp1/pp1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 590px;
}

#microbeadssixdum{
    background-image: url('../images/platesid/polystyreneplate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 605px;
}

#microbeadspolystyrene{
    position: fixed;
    display: none;
}

#microbeadspolystyreneone{
    background-image: url('../images/platesid/polystyrene1/polystyrene1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#microbeadspet{
    position: fixed;
    display: none;
}

#microbeadsthreedum{
    background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    top: 245px;
    left: 593px;
}

#microbeadspetone{
    background-image: url('../images/platesid/pet1/pet1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 294px;
}

#microbeadspettwo{
    background-image: url('../images/platesid/pet1/pet2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 909px;
}

#microbeadspetthree{
    background-image: url('../images/platesid/pet1/pet3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 459px;
    left: 603px;
}

#microbeadspetfour{
    background-image: url('../images/platesid/pet1/pet4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#microbeadsphtalate{
    position: fixed;
    display: none;
}

#microbeadsfourdum{
    background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#microbeadsphtalateone{
    background-image: url('../images/platesid/phtalate1/phtalate1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#microbeadsphtalatetwo{
    background-image: url('../images/platesid/phtalate1/phtalate2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#microbeadsphtalatethree{
    background-image: url('../images/platesid/phtalate1/phtalate3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 593px;
}

#microbeadstwodum{
    background-image: url('../images/platesid/ldpehdpemirror.png');
    background-size: cover;
    width: 243px;;
    height: 176px;
    top: 245px;
    left: 605px;
}

#microbeadshdpeldpe{
    position: fixed;
    display: none;
}

#microbeadshdpeldpeone{
    background-image: url('../images/platesid/hdpe1/hdpe1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#microbeadshdpeldpetwo{
    background-image: url('../images/platesid/hdpe1/hdpe2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 114px;
    left: 879px;
}

#microbeadshdpeldpethree{
    background-image: url('../images/platesid/hdpe1/hdpe3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 114px;
    left: 330px;
}

#microbeadshdpeldpefour{
    background-image: url('../images/platesid/hdpe1/hdpe4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 319px;
    left: 918px;
}


#microbeadshdpeldpefive{
    background-image: url('../images/platesid/hdpe1/hdpe5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 319px;
    left: 314px;
}

#microbeadshdpeldpesix{
    background-image: url('../images/platesid/hdpe1/hdpe6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 480px;
    left: 744px;
}

#microbeadshdpeldpeseven{
    background-image: url('../images/platesid/ldpe1/ldpe.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 480px;
    left: 507px;
}

.research{
    margin-top: 20px;
    color: white;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Raleway';
    line-height: 18pt;
    background-color: #04285b;
    position: fixed;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    left: 35%;
    top: 40%;
    display: none;
}

#filamentsdyes{
    position: fixed;
    display: none;
}

#filamentstwodum{
    background-image: url('../images/platesid/dyes.png');
    background-size: cover;
    width: 246px;
    height: 176px;
    top: 245px;
    left: 593px;
}

#filamentsdyesone{
    background-image: url('../images/platesid/dyes1/dyes1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#filamentsdyestwo{
    background-image: url('../images/platesid/dyes1/dyes2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#filamentsdyesthree{
    background-image: url('../images/platesid/dyes1/dyes3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 608px;
}

#filamentspet{
    position: fixed;
    display: none;
}

#filamentsonedum{
    background-image: url('../images/platesid/pet.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    top: 245px;
    left: 593px;
}

#filamentspetone{
    background-image: url('../images/platesid/pet1/pet1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 294px;
}

#filamentspettwo{
    background-image: url('../images/platesid/pet1/pet2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 909px;
}

#filamentspetthree{
    background-image: url('../images/platesid/pet1/pet3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 459px;
    left: 603px;
}

#filamentspetfour{
    background-image: url('../images/platesid/pet1/pet4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#filamentsthreedum{
    background-image: url('../images/platesid/pp.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#filamentspp{
    position: fixed;
    display: none;
}

#filamentsppone{
    background-image: url('../images/platesid/pp1/pp1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 590px;
}

#fibredyes{
    position: fixed;
    display: none;
}

#fibretwodum{
    background-image: url('../images/platesid/dyes.png');
    background-size: cover;
    width: 246px;
    height: 176px;
    top: 245px;
    left: 593px;
}

#fibredyesone{
    background-image: url('../images/platesid/dyes1/dyes1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#fibredyestwo{
    background-image: url('../images/platesid/dyes1/dyes2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#fibredyesthree{
    background-image: url('../images/platesid/dyes1/dyes3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 608px;
}

#fibreonedum{
    background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#fibrephtalate{
    position: fixed;
    display: none;
}

#fibrephtalateone{
    background-image: url('../images/platesid/phtalate1/phtalate1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#fibrephtalatetwo{
    background-image: url('../images/platesid/phtalate1/phtalate2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#fibrephtalatethree{
    background-image: url('../images/platesid/phtalate1/phtalate3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 593px;
}

#fibreonedum{
    background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 605px;
}

#fibresolvent{
    position: fixed;
    display: none;
}

#fibresolventone{
    background-image: url('../images/platesid/solvent1/solvent1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 294px;
}

#fibresolventtwo{
    background-image: url('../images/platesid/solvent1/solvent2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 909px;
}

#fibrefivedum{
    background-image: url('../images/platesid/solvents.png');
    background-size: cover;
     width: 243px;;
    height: 176px;
    top: 245px;
    left: 593px;
}

#fibrephtalate{
    position: fixed;
    display: none;
}

#fibrephtalateone{
    background-image: url('../images/platesid/phtalate1/phtalate1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#fibrephtalatetwo{
    background-image: url('../images/platesid/phtalate1/phtalate2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#fibrephtalatethree{
    background-image: url('../images/platesid/phtalate1/phtalate3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 593px;
}

#fibrethreedum{
    background-image: url('../images/platesid/metals.png');
    background-size: cover;
    width: 220px;
    height: 170px;
    top: 245px;
    left: 593px;
}

#fibremetals{
    position: fixed;
    display: none;
}

#fibremetalsone{
    background-image: url('../images/platesid/metals1/metals1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#fibremetalstwo{
    background-image: url('../images/platesid/metals1/metals2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#fibremetalsthree{
    background-image: url('../images/platesid/metals1/metals3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 593px;
}

#fibrepfc{
    position: fixed;
    display: none;
}

#fibrefourdum{
    background-image: url('../images/platesid/pfc.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#fibrepfcone{
    background-image: url('../images/platesid/pfc1/pfc1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 294px;
}

#fibrepfctwo{
    background-image: url('../images/platesid/pfc1/pfc2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 230px;
    left: 909px;
}

#fibrepfcthree{
    background-image: url('../images/platesid/pfc1/pfc3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 459px;
    left: 603px;
}

#fibrepfcfour{
    background-image: url('../images/platesid/pfc1/pfc4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#filmonedum{
    background-image: url('../images/platesid/phtalate.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 245px;
    left: 593px;
}

#filmphtalate{
    position: fixed;
    display: none;
}

#filmphtalateone{
    background-image: url('../images/platesid/phtalate1/phtalate1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 385px;
    left: 358px;
}

#filmphtalatetwo{
    background-image: url('../images/platesid/phtalate1/phtalate2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 881px;
    top: 385px;
}

#filmphtalatethree{
    background-image: url('../images/platesid/phtalate1/phtalate3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: -1px;
    left: 593px;
}

#filmhdpe{
    position: fixed;
    display: none;
}

#filmhdpeone{
    background-image: url('../images/platesid/hdpe1/hdpe1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 927px;
}

#filmhdpetwo{
    background-image: url('../images/platesid/hdpe1/hdpe2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 12px;
    left: 634px;
}

#filmhdpethree{
    background-image: url('../images/platesid/hdpe1/hdpe3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 934px;
}

#filmhdpefour{
    background-image: url('../images/platesid/hdpe1/hdpe4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 638px;
}

#filmhdpefive{
    background-image: url('../images/platesid/hdpe1/hdpe5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 346px;
    left: 298px;
}

#filmhdpesix{
    background-image: url('../images/platesid/hdpe1/hdpe6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 298px;
}

#filmthreedum{
    background-image: url('../images/platesid/hdpe.png');
    background-size: cover;
    width: 228px;
    height: 176px;
    top: 245px;
    left: 623px;
}

#filmpvc{
    position: fixed;
    display: none;
}

#filmpvcone{
    background-image: url('../images/platesid/pvc1/pvc1.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 303px;
    left: 969px;
}

#filmpvctwo{
    background-image: url('../images/platesid/pvc1/pvc2.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 118px;
    left: 969px;
}

#filmpvcthree{
    background-image: url('../images/platesid/pvc1/pvc3.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 740px;
}

#filmpvcfour{
    background-image: url('../images/platesid/pvc1/pvc4.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 470px;
    left: 533px;
}

#filmpvcfive{
    background-image: url('../images/platesid/pvc1/pvc5.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 303px;
    left: 294px;
}

#filmpvcsix{
    background-image: url('../images/platesid/pvc1/pvc6.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 118px;
    left: 290px;
}

#filmpvcseven{
    background-image: url('../images/platesid/pvc1/pvc7.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 533px;
}

#filmpvceight{
    background-image: url('../images/platesid/pvc1/pvc8.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 740px;
}

#filmfourdum{
    background-image: url('../images/platesid/pvc.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    top: 245px;
    left: 623px;
}

#filmldpe{
    position: fixed;
    display: none;
}

#filmldpeone{
    background-image: url('../images/platesid/ldpe1/ldpe.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 603px;
}

#filmtwodum{
    background-image: url('../images/platesid/ldpe.png');
    background-size: cover;
    width: 228px;
    height: 166px;
    top: 245px;
    left: 593px;
}

.optcont, .optconsmall{
    position: fixed;
    bottom: 50px;
}

.optcontsmall{
    display: none;
}

.tableopt{
    background-color: white;
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 24px;
    font-size: 15px;
    font-family: 'Lexend Deca';
    font-weight: 400;
    border: #13448d solid 3px;
    color: #13448d;
    margin-left: 25px;
    cursor: pointer;
}

/*.tableopt:hover{
    background-color: #13448d;
    border: #13448d solid 3px;
    color: white;
}

.tableopt:active{
    background-color: #13448d;
    border: #13448d solid 3px;
    color: white;
}*/

#picnicbtn{
    margin-left: 110px;
    background-color: #13448d;
    border: #13448d solid 3px;
    color: white;
}

.soundoptions{
    background-color: transparent;
    width: 60px;
    height: 40px;
    border: none;
    background-size: contain;
    cursor: pointer;
}

.soundoptionsplay{
    background-image: url('../images/icon/voltp.png');
    background-repeat: no-repeat;
}

.soundoptionspause{
    background-image: url('../images/icon/volmutetp.png');
    background-repeat: no-repeat;
}

#sounddiningplay,#sounddiningpause,#soundregularplay,#soundregularpause,#soundpicnicplay,#soundpicnicpause{
    display: none;
}
#soundpicnicpause{
    display: inline;
}
.audiocon{
    position: fixed;
    bottom: 50px;
    left: 460px;
}

#introeffectspopup{
    width: 40%;
    height: 50%;
}

#introeffectspopup p{
    font-size: 20px;
    text-align: center;
}

#effectsintrodemo{
    width: 80%;
    height: 70%;
    background-image: url('../images/effectstut1.gif');
    margin-top: 35px;
    margin-left: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.introdots{
    width: 15px;
    height: 15px;
    background-color:#E7E7E7;
    border-radius: 50%;
    float: left;
}

#effectsdots2{
    margin-left: 10px;
}

.effectsintrodots{
    width: 40px;
    height: 15px;
    margin-left: 275px;
    margin-top: 25px;
}

#effectsskip{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 387px;
    left: 580px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #8FAFED;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#effectsprev2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 250px;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/prevpopup.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#effectsnext1, #effectsnext2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 600px;
    top: 250px;
    border: none;
    background-color: transparent;
    background-image: url('../images/icon/nextpopup.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#effectsnext2{
    display: none;
}

#effectsprev2{
    display: none;
}

#effectsdots1{
    background-color: #FFC700;
}

#effectsdots2{
    background-color: #E7E7E7;
}


#effectsnext1:hover{
    opacity: 0.9;
}

#effectsnext1:active{
    opacity: 0.8;
}

#effectsnext2:hover{
    opacity: 0.9;
}

#effectsnext2:active{
    opacity: 0.8;
}

#effectsprev2:hover{
    opacity: 0.9;
}

#effectsprev2:active{
    opacity: 0.8;
}

#effectsskip:hover{
    opacity: 0.7;
}

#effectsskip:hover{
    opacity: 1;
	font-weight: 300;
}

.topganjelan{
    width: 100vw;
    height: 50px;
}

.soundoptions{
    background-color: transparent;
    width: 60px;
    height: 40px;
    border: none;
    background-size: contain;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    left: 30px;
}

@media only screen and (max-width: 1000px) {
    #bodyeffects{
        background-size: cover;
    }
    #plate1{
        width: 390px;
        height: 250px;
        left: 253px;
        top: 97px;
    }
    .optcont {
        display: none;
    }
    .optcontsmall {
        display: block;
        bottom: 27px;
        position: fixed;
    }
    .soundoptions {
        bottom: 27px;
    }
    .fishfragment {
        left: 543px;
        top: 102px;
        width: 89px;
    }
    .fishfoam {
        left: 498px;
        top: 115px;
        width: 89px;
    }
    .fishmicrobeads {
        left: 451px;
        top: 109px;
        width: 79px;
    }
    .fishfilaments {
        left: 381px;
        top: 107px;
        width: 90px;
    }
    .fishfibre {
        left: 330px;
        top: 118px;
        width: 96px;
    }
    .fishfilm {
        left: 276px;
        top: 118px;
        width: 82px;
    }
    .fishopt1big {
        width: 215px;
        height: 138px;
        left: 335px;
        top: 128px;
    }
    #picnicbtnsmall{
        margin-left: 30px;
        background-color: #13448d;
        border: #13448d solid 3px;
        color: white;
        top: -231px;
        position: absolute;
    }
    #finediningbtnsmall{
        top: -169px;
        position: absolute;
        width: 129px;
    }
    #diningroombtnsmall{
        position: absolute;
        top: -108px;
        width: 150px;
    }
    #filmone {
        width: 104px;
        height: 104px;
        left: 604px;
        top: 102px;
    }
    #filmtwo {
        width: 143px;
        height: 104px;
        left: 373px;
        top: -38px;
    }
    #filmthree {
        width: 134px;
        height: 103px;
        left: 372px;
        top: 236px;
    }
    #filmfour {
        width: 104px;
        height: 104px;
        left: 189px;
        top: 102px;
    }
    #filmtwodum {
        width: 173px;
        height: 125px;
        top: 107px;
        left: 356px;
    }
    #filmldpeone {
        width: 126px;
        height: 119px;
        top: -24px;
        left: 372px;
    }
    #filmonedum {
        width: 136px;
        height: 136px;
        top: 106px;
        left: 374px;
    }
    #filmphtalateone {
        background-image: url(../images/plates/phtalate1/phtalate1.png);
        background-size: cover;
        width: 126px;
        height: 126px;
        top: 179px;
        left: 229px;
    }
    #filmphtalatetwo {
        background-image: url(../images/plates/phtalate1/phtalate2.png);
        background-size: cover;
        width: 126px;
        height: 126px;
        left: 538px;
        top: 179px;
    }
    #filmphtalatethree {
        background-image: url(../images/plates/phtalate1/phtalate3.png);
        background-size: cover;
        width: 126px;
        height: 126px;
        top: -24px;
        left: 378px;
    }
    #filmthreedum {
        width: 167px;
        height: 129px;
        top: 92px;
        left: 359px;
    }
    #filmhdpeone {
        width: 126px;
        height: 126px;
        top: 31px;
        left: 547px;
    }
    #filmhdpetwo {
        width: 126px;
        height: 126px;
        top: -36px;
        left: 377px;
    }
    #filmhdpethree {
        width: 126px;
        height: 126px;
        top: 165px;
        left: 549px;
    }
    #filmhdpefour {
        width: 126px;
        height: 126px;
        top: 226px;
        left: 375px;
    }
    #filmhdpefive {
        width: 126px;
        height: 126px;
        top: 165px;
        left: 207px;
    }
    #filmhdpesix {
        width: 126px;
        height: 126px;
        top: 31px;
        left: 207px;
    }
    #filmfourdum {
        width: 136px;
        height: 136px;
        top: 99px;
        left: 374px;
    }
    #filmpvcone {
        width: 126px;
        height: 126px;
        top: 152px;
        left: 552px;
    }
    #filmpvctwo {
        width: 126px;
        height: 126px;
        top: 41px;
        left: 552px;
    }
    #filmpvcthree {
        width: 126px;
        height: 126px;
        top: 236px;
        left: 442px;
    }
    #filmpvcfour {
        width: 126px;
        height: 126px;
        top: 236px;
        left: 323px;
    }
    #filmpvcfive {
        width: 126px;
        height: 126px;
        top: 152px;
        left: 213px;
    }
    #filmpvcsix {
        width: 126px;
        height: 126px;
        top: 41px;
        left: 213px;
    }
    #filmpvcseven {
        width: 126px;
        height: 126px;
        top: -25px;
        left: 323px;
    }
    #filmpvceight {
        width: 126px;
        height: 126px;
        top: -25px;
        left: 442px;
    }
    #fibreone {
        width: 104px;
        height: 104px;
        left: 606px;
        top: 92px;
    }
    #fibretwo {
        width: 146px;
        height: 104px;
        left: 354px;
        top: -38px;
    }
    #fibrethree {
        width: 134px;
        height: 103px;
        left: 297px;
        top: 229px;
    }
    #fibrefour {
        width: 104px;
        height: 104px;
        left: 184px;
        top: 92px;
    }
    #fibrefive {
        width: 143px;
        height: 104px;
        left: 487px;
        top: 229px;
    }
    #fibretwodum {
        width: 175px;
        height: 125px;
        top: 91px;
        left: 340px;
    }
    #fibredyesone {
        width: 126px;
        height: 126px;
        top: 183px;
        left: 191px;
    }
    #fibredyestwo {
        width: 126px;
        height: 126px;
        left: 539px;
        top: 183px;
    }
    #fibredyesthree {
        width: 126px;
        height: 126px;
        top: -30px;
        left: 374px;
    }
    #fibrefourdum {
        width: 136px;
        height: 136px;
        top: 101px;
        left: 374px;
    }
    #fibrepfcone {
        width: 126px;
        height: 126px;
        top: 112px;
        left: 230px;
    }
    #fibrepfctwo {
        width: 126px;
        height: 126px;
        top: 112px;
        left: 518px;
    }
    #fibrepfcthree {
        width: 126px;
        height: 126px;
        top: 236px;
        left: 380px;
    }
    #fibrepfcfour {
        width: 126px;
        height: 126px;
        top: -26px;
        left: 380px;
    }
    #fibrethreedum {
        width: 167px;
        height: 129px;
        top: 111px;
        left: 356px;
    }  
    #fibremetalsone {
        width: 126px;
        height: 126px;
        top: 184px;
        left: 249px;
    }
    
    #fibremetalstwo {
        width: 126px;
        height: 126px;
        left: 517px;
        top: 184px;
    }
    #fibremetalsthree {
        width: 126px;
        height: 126px;
        top: -17px;
        left: 378px;
    }
    #fibrefivedum {
        width: 173px;
        height: 125px;
        top: 93px;
        left: 369px;
    }
    #fibresolventone {
        width: 126px;
        height: 126px;
        top: 92px;
        left: 218px;
    }
    #fibresolventtwo {
        width: 126px;
        height: 126px;
        top: 92px;
        left: 558px;
    }
    #fibreonedum {
        width: 136px;
        height: 136px;
        top: 92px;
        left: 373px;
    }
    #fibrephtalateone {
        width: 126px;
        height: 126px;
        top: 188px;
        left: 262px;
    }
    #fibrephtalatetwo {
        width: 126px;
        height: 126px;
        left: 498px;
        top: 188px;
    }
    #fibrephtalatethree {
        width: 126px;
        height: 126px;
        top: -39px;
        left: 378px;
    }
    #filamentsone {
        width: 104px;
        height: 104px;
        left: 541px;
        top: 185px;
    }
    #filamentstwo {
        width: 146px;
        height: 104px;
        left: 354px;
        top: -35px;
    }
    #filamentsthree {
        width: 134px;
        height: 103px;
        left: 208px;
        top: 185px;
    }
    #filamentstwodum {
        width: 146px;
        height: 104px;
        top: 109px;
        left: 351px;
    }
    #filamentsdyesone {
        width: 126px;
        height: 126px;
        top: 201px;
        left: 259px;
    }
    #filamentsdyestwo {
        width: 126px;
        height: 126px;
        left: 492px;
        top: 201px;
    }
    #filamentsdyesthree {
        width: 126px;
        height: 126px;
        top: -19px;
        left: 375px;
    }
    #filamentsonedum {
        width: 134px;
        height: 103px;
        top: 96px;
        left: 375px;
    }
    #filamentsonedum {
        width: 167px;
        height: 129px;
        top: 90px;
        left: 357px;
    }
    #filamentspetone {
        width: 126px;
        height: 126px;
        top: 85px;
        left: 217px;
    }
    #filamentspettwo {
        width: 126px;
        height: 126px;
        top: 85px;
        left: 548px;
    }
    #filamentspetthree {
        width: 126px;
        height: 126px;
        top: 227px;
        left: 378px;
    }
    #filamentspetfour {
        width: 126px;
        height: 126px;
        top: -47px;
        left: 378px;
    }
    #filamentsthreedum {
        width: 136px;
        height: 136px;
        top: 92px;
        left: 375px;
    }
    #filamentsppone {
        width: 126px;
        height: 126px;
        top: -33px;
        left: 378px;
    }
    #microbeadsone {
        width: 134px;
        height: 103px;
        left: 562px;
        top: 47px;
    }
    #microbeadstwo {
        width: 143px;
        height: 104px;
        left: 381px;
        top: -33px;
    }
    #microbeadsthree {
        width: 134px;
        height: 103px;
        left: 209px;
        top: 189px;
    }
    #microbeadsfour {
        width: 104px;
        height: 104px;
        left: 213px;
        top: 47px;
    }
    #microbeadsfive {
        width: 104px;
        height: 104px;
        left: 389px;
        top: 239px;
    }
    #microbeadssix {
        width: 104px;
        height: 104px;
        left: 578px;
        top: 189px;
    }
    #microbeadstwodum {
        width: 173px;
        height: 125px;
        top: 99px;
        left: 375px;
    }
    #microbeadshdpeldpeone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 378px;
    }
    #microbeadshdpeldpetwo {
        width: 126px;
        height: 126px;
        top: 28px;
        left: 535px;
    }
    #microbeadshdpeldpethree {
        width: 126px;
        height: 126px;
        top: 28px;
        left: 235px;
    }
    #microbeadshdpeldpefour {
        width: 126px;
        height: 126px;
        top: 142px;
        left: 202px;
    }
    #microbeadshdpeldpefive {
        width: 126px;
        height: 126px;
        top: 225px;
        left: 310px;
    }
    #microbeadshdpeldpesix {
        width: 126px;
        height: 126px;
        top: 142px;
        left: 568px;
    }
    #microbeadshdpeldpeseven {
        width: 126px;
        height: 126px;
        top: 225px;
        left: 447px;
    }
    #microbeadssixdum {
        width: 136px;
        height: 136px;
        top: 88px;
        left: 375px;
    }
    #microbeadspolystyreneone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #microbeadsfivedum {
        width: 136px;
        height: 136px;
        top: 88px;
        left: 375px;
    }
    #microbeadsppone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #microbeadsthreedum {
        width: 167px;
        height: 129px;
        top: 82px;
        left: 357px;
    }
    #microbeadspetone {
        width: 126px;
        height: 126px;
        top: 88px;
        left: 214px;
    }
    #microbeadspettwo {
        width: 126px;
        height: 126px;
        top: 88px;
        left: 543px;
    }
    #microbeadspetthree {
        width: 126px;
        height: 126px;
        top: 212px;
        left: 379px;
    }
    #microbeadspetfour {
        width: 126px;
        height: 126px;
        top: -42px;
        left: 379px;
    }
    #microbeadsfourdum {
        width: 136px;
        height: 136px;
        top: 92px;
        left: 374px;
    }
    #microbeadsphtalateone {
        width: 126px;
        height: 126px;
        top: 168px;
        left: 239px;
    }
    #microbeadsphtalatetwo {
        width: 126px;
        height: 126px;
        left: 519px;
        top: 168px;
    }
    #microbeadsphtalatethree {
        width: 126px;
        height: 126px;
        top: -36px;
        left: 378px;
    }
    /* #foamchems{
        overflow: hidden;
        width: 710px;
        height: 242px;
    } */
    #foamone {
        width: 104px;
        height: 104px;
        left: 194px;
        top: 98px;
    }
    #foamtwo {
        width: 134px;
        height: 103px;
        left: 575px;
        top: 99px;
    }
    #foamtwodum {
        width: 167px;
        height: 129px;
        top: 94px;
        left: 356px;
    }
    #foamhdpeldpeone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #foamhdpeldpetwo {
        width: 126px;
        height: 126px;
        top: 13px;
        left: 507px;
    }
    #foamhdpeldpethree {
        width: 126px;
        height: 126px;
        top: 13px;
        left: 252px;
    }
    #foamhdpeldpefour {
        width: 126px;
        height: 126px;
        top: 131px;
        left: 522px;
    }
    #foamhdpeldpefive {
        width: 126px;
        height: 126px;
        top: 131px;
        left: 236px;
    }
    #foamhdpeldpesix {
        width: 126px;
        height: 126px;
        top: 229px;
        left: 439px;
    }
    #foamhdpeldpeseven {
        width: 126px;
        height: 126px;
        top: 226px;
        left: 320px;
    }
    #foamonedum {
        width: 136px;
        height: 136px;
        top: 88px;
        left: 375px;
    }
    #foampolystyreneone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #fragmentone {
        width: 134px;
        height: 103px;
        left: 569px;
        top: 57px;
    }
    #fragmenttwo {
        width: 143px;
        height: 104px;
        left: 385px;
        top: -33px;
    }
    #fragmentthree {
        width: 134px;
        height: 103px;
        left: 191px;
        top: 188px;
    }
    #fragmentfour {
        width: 104px;
        height: 104px;
        left: 205px;
        top: 57px;
    }
    #fragmentfive {
        width: 104px;
        height: 104px;
        left: 585px;
        top: 188px;
    }
    #fragmentsix {
        width: 104px;
        height: 104px;
        left: 397px;
        top: 234px;
    }
    #fragmenttwodum {
        width: 173px;
        height: 125px;
        top: 110px;
        left: 369px;
    }
    #fragmentldpeone {
        width: 126px;
        height: 126px;
        top: -17px;
        left: 380px;
    }
    #fragmentonedum {
        width: 167px;
        height: 129px;
        top: 90px;
        left: 357px;
    }
    #fragmentpetone {
        width: 126px;
        height: 126px;
        top: 85px;
        left: 217px;
    }
    #fragmentpettwo {
        width: 126px;
        height: 126px;
        top: 85px;
        left: 548px;
    }
    #fragmentpetthree {
        width: 126px;
        height: 126px;
        top: 227px;
        left: 378px;
    }
    #fragmentpetfour {
        width: 126px;
        height: 126px;
        top: -47px;
        left: 378px;
    }
    #fragmentfivedum {
        width: 136px;
        height: 136px;
        top: 88px;
        left: 375px;
    }
    #fragmentppone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #fragmentsixdum {
        width: 136px;
        height: 136px;
        top: 88px;
        left: 375px;
    }
    #fragmentpolystyreneone {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 379px;
    }
    #fragmentfourdum {
        width: 167px;
        height: 129px;
        top: 96px;
        left: 358px;
    }
    #fragmenthdpeone {
        width: 126px;
        height: 126px;
        top: 30px;
        left: 544px;
    }
    #fragmenthdpetwo {
        width: 126px;
        height: 126px;
        top: -32px;
        left: 378px;
    }
    #fragmenthdpethree {
        width: 126px;
        height: 126px;
        top: 160px;
        left: 544px;
    }
    #fragmenthdpefour {
        width: 126px;
        height: 126px;
        top: 235px;
        left: 378px;
    }
    #fragmenthdpefive {
        width: 126px;
        height: 126px;
        top: 160px;
        left: 215px;
    }
    #fragmenthdpesix {
        width: 126px;
        height: 126px;
        top: 30px;
        left: 215px;
    }
    #fragmentthreedum {
        width: 136px;
        height: 136px;
        top: 105px;
        left: 376px;
    }
    #fragmentpvcone {
        width: 126px;
        height: 126px;
        top: 167px;
        left: 554px;
    }
    #fragmentpvctwo {
        width: 126px;
        height: 126px;
        top: 50px;
        left: 554px;
    }
    #fragmentpvcthree {
        width: 126px;
        height: 126px;
        top: 237px;
        left: 438px;
    }
    #fragmentpvcfour {
        width: 126px;
        height: 126px;
        top: 237px;
        left: 315px;
    }
    #fragmentpvcfive {
        width: 126px;
        height: 126px;
        top: 167px;
        left: 196px;
    }
    #fragmentpvcsix {
        width: 126px;
        height: 126px;
        top: 50px;
        left: 196px;
    }
    #fragmentpvcseven {
        width: 126px;
        height: 126px;
        top: -16px;
        left: 315px;
    }
    #fragmentpvceight {
        width: 126px;
        height: 126px;
        top: -16px;
        left: 438px;
    }
}